# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

## Answer:

In [1]:
test1 = 'This is a test of the emergency text system,'

In [2]:
file = open("test.txt", 'w')

file.write(test1)

44

In [4]:
file.close()

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

## Answer:

In [5]:
file = open("test.txt", 'r')

file.seek(0)

test2 = file.read()

In [6]:
test2

'This is a test of the emergency text system,'

In [7]:
file.seek(0)
file.close()

In [8]:
test1==test2

True

### There seems no difference between test1 & test2.

# 3. Create a CSV file called books.csv by using these lines:
###### title,author,year
###### The Weirdstone of Brisingamen,Alan Garner,1960
###### Perdido Street Station,China Miéville,2000
###### Thud!,Terry Pratchett,2005
###### The Spellman Files,Lisa Lutz,2007
###### Small Gods,Terry Pratchett,1992

## Answer:

In [22]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

create_csv = open("books.csv", "w")

create_csv.write(text)

create_csv.close()

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

## Answer:

In [27]:
import sqlite3

db = sqlite3.connect('books.db')
cur = db.cursor()
cur.execute('''create table books (title text, author text, year int)''')

OperationalError: table books already exists

In [28]:
db.commit()

# 5. Read books.csv and insert its data into the book table.

## Answer:

In [31]:
import csv
import sqlite3

ins_str = 'insert into books values(?, ?, ?)'

f = open('books.csv', 'r')

books = csv.DictReader(f)

for book in books:
    
    cur.execute(ins_str, (book['title'], book['author'], book['year']))

In [32]:
db.commit()

# 6. Select and print the title column from the book table in alphabetical order.

## Answer:

In [34]:
sql = 'select title from books order by title asc'

for row in cur.execute(sql):
    
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

## Answer:

In [39]:
query = 'select * from books order by year'

for row in cur.execute(query):
    
    print(*row, sep=',')

The Weirdstone of Brisingamen,Alan Garner,1960
Small Gods,Terry Pratchett,1992
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

## Answer:

In [40]:
import sqlalchemy

db_conn = sqlalchemy.create_engine('sqlite:///books.db')

query_sql = 'select title from books order by title asc'

rows = db_conn.execute(query_sql)

for row in rows:
    
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)